<div class="tumble-menu-box-overlay">
    <div class="tumble-menu-box">
        <div class="logo">
            <h1><span>T</span>umble</h1>
        </div>
        <div class="tumble-menu men">
            <p>Menu</p>
            <a href="/browse"><i class="fa-solid fa-compass"></i>Browse</a>
            <a href="/shorts/any"><i class="fa-solid fa-circle-play"></i>Shorts</a>
            <a href="/library"><i class="fa-solid fa-book"></i>Library</a>
        </div>
        <div class="tumble-menu gen">
            <p>General</p>
            <a href="/notFound"><i class="fa-solid fa-gear"></i>Settings</a>
            <a href="/yourchannel"><i class="fa-solid fa-video"></i>Your Channel</a>
            <a href="/logout"><i class="fa-solid fa-door-open"></i>Logout</a>
        </div>
    </div>
    <div class="small-tumble-menu-box">
        <button class="tumble-menu-expand"><i class="fa-solid fa-bars"></i></button>
        <a href="/browse"><i class="fa-solid fa-compass"></i>
            <p>Browse</p>
        </a>
        <a href="/shorts/any"><i class="fa-solid fa-circle-play"></i>
            <p>Shorts</p>
        </a>
        <a href="/library"><i class="fa-solid fa-book"></i>
            <p>Library</p>
        </a>
    </div>
</div>

<div class="bottom-tumble-menu-box">
    <a href="/browse"><i class="fa-solid fa-compass"></i>
        <p>Browse</p>
    </a>
    <a href="/shorts/any"><i class="fa-solid fa-circle-play"></i>
        <p>Shorts</p>
    </a>
    <a href="/notFound"><i class="fa-solid fa-user"></i>
        <p>Subscrpitions</p>
    </a>
    <a href="/library"><i class="fa-solid fa-book"></i>
        <p>Library</p>
    </a>
</div>